body {
  background-color: #fff;
  color: #333;
  margin: auto;
  padding: 0 10px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  width: 80%;
  text-align: center;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

nav {
  text-align: center;
  margin: auto;
  width: 85%;
  height: 50px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  padding-top: 25px;
}

nav a {
  margin: 10%;
}

table {
  width: 70%;
  text-align: center;
  margin: auto;
}

.block {
  text-align: center;
  font-family: "Comic Sans";
  height: 80px;
  width: 85%;
  background-color: #949393;
  margin: auto;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
}

div.posts {
  margin: 20px auto;
  padding: 20px;
  border: 2px double #949393;
  width: 81%;
}

p.postTitle {
  font-size: 30px;
  font-family: "Rockwell Extra Bold";
  margin: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid #949393;
}

p.postBody {
  font-size: 20px;
  font-family: "Perpetua";
  margin: 5px;
}

form {
  margin: 30px;
}
